/* .svg-inline--fa.fa-w-16 {
  width: 2.5vw !important;
}

.svg-inline--fa.fa-w-14 {
  width: 1.8vw !important;
} */
.font  ,div , h1, h2, h3, h4, h5 , h6, p, span{
  font-family:'Montserrat',  sans-serif,Arial, Helvetica !important;
}