 @media screen and (max-width: 772px) {
  #handelToggleBtn {
   
    width: 70px;
    
    
  }
} 

@media screen and (max-width: 772px) {
  #handelMobileView {
   
    display: none;
    
  }
} 
@media screen and (max-width: 772px) {
  #handelTxt {
   font-size: 10px !important;
   width: 80px;
    
  }
  #handelImg{
    width: 60px !important;
  }
} 

.MuiTableCell-root{
  padding: 16px 5px 16px 5px;
}


.slick-initialized .slick-slide{
  padding-left: 4px !important;
  padding-right: 4px !important;
}


.container-fluid , .container {
  
  padding-right: 0px !important;
  padding-left: 0px !important;
  
}
.font  ,div , h1, h2, h3, h4, h5 , h6, p, span{
  font-family:'Montserrat',  sans-serif,Arial, Helvetica !important;
}
/* .row{
       margin-right: 0px !important; 
     margin-left: 0px !important;
} */
#manageGrid{
  width: '30%' !important;
}
@media screen and (max-width: 772px) {
  #handelGrid {
    width: 100% !important;
  }
} 

@media screen and (max-width: 772px) {
  #handelFooter {
   
   margin-left: 0px !important;
    
  }
 
}

.ag-theme-balham .ag-filter-toolpanel-header, .ag-theme-balham .ag-filter-toolpanel-search, .ag-theme-balham .ag-status-bar, .ag-theme-balham .ag-header-row {
  font-weight: 600;
  color: white !important;
  background-color: black !important;
}
#paper_slider_bottom_padding{
  padding-bottom: 10px !important;
}
#id_pad{
  padding-bottom: 10px !important;
}